@import "https://fonts.googleapis.com/css?family=Amiko";

html,
body {
  font: 15px/1.5 Amiko, Arial, sans-serif;
  margin-top: -25px;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: -5px;
  width: 100%;
  background-color: #f4f4f4;
}

body {
  font-family: Amiko;
  width: 100%;
  text-align: center
}

header {
  position: fixed;
  width: 100%;
  min-height: 80px;
  background-size: cover;
  background-color:#a53051;
}

.contentHome {
  width: 90%;
  margin: auto;
  font-size: 20px;
  line-height: 40px;
  text-align: justify;
  padding-top: 255px;
}

.contentSubPage {
  width: 90%;
  margin:4em auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  padding-top: 0;
}

#contentWelcome {
  padding-top: -200px;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.column {
    float: left;
    width: 50%;
}
.popup-position{
	display:none;
	position:fixed;
	top:70px;
	left:0;
	background-color:rgba(0,0,0,0.7);
	width:100%;
	height:100%;
}

.logo {
  position: fixed;
  float: left;
  margin-top: 0;
  margin-left: 36px;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
}

.clear {
      clear: both;
    }

nav {
  position: fixed;
  width: 100%;
}

nav ul {
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0px;
  text-align: center;
  margin: 0px;
  transition: 1s;
}

nav.black ul {
  background: rgba(0, 131, 143, 0.9);
  border-bottom: #b4ffff 3px solid;
}

nav ul li {
  display: inline-block;
  padding: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

header .highlight,
header .current a {
  color: #f74779;
  font-weight: bold;
}

header a:hover {
  color:#f74779;
  font-weight:bold;
  text-decoration:underline;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

#popup-wrapper{
	width:500px;
	margin:70px auto;
	text-align:left;
}

#popup-container {
	background-color:#FFF;
	padding:20px;
	border-radius:4px;
}

#showcase {
  text-align: center;
}

#showcase .patientSubPage{
	color: white;
	min-height: 250px;
	background: url("blackWallpaper.jpg")
    no-repeat;
	background-size: cover;
}

#showcase .patientSubPage h1 {
  padding-top: 130px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase .patientSubPage p {
  font-size: 20px;
  padding-bottom:50px;
}

#showcase .scheduling{
	color: white;
	min-height: 420px;
	background: url("https://stylistagenda.com/media/1098/paper-appointment-book3-dark.jpg?anchor=center&mode=crop&width=1140&height=600&rnd=131450407640000000")
    no-repeat;
	background-size: cover;
	margin-bottom: 35px;
}

#showcase .loginScreen{
	color: black;
	min-height: 700px;
	background: url("loginBackground.jpg")
    no-repeat;
	background-size: cover;
	
}

#showcase .welcomeScreen{
	color: white;
	min-height: 1000px;
	background: url("welcomePage.png")
    no-repeat;
	background-size: cover;
	
}
#showcase h1 {
  padding-top: 220px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase p {
  font-size: 20px;
  padding-bottom:100px;
}

#boxes {
  padding-top: 40px;
  padding-bottom:40px;
}

#boxes2 {
  margin-top: 200px;
  margin-bottom:40px;
}

#boxes .box, #boxes2 .box  {
  float:left;
  text-align:center;
  width: 33%;
  padding:0px;
}

#boxes .current, #boxes2 .current {
  box-shadow: 0px 8px rgba(0, 131, 143, 0.9);
}

#boxes .box img, #boxes2 .box img {
  width:120px;
}

#boxes .box:hover, #boxes2 .box:hover {
  font-weight:bold;
  box-shadow: 0px 8px rgba(165, 48, 81, 0.9);
}

#sideBar {
    width: 40%;
    float: right;
    background: #d3d3d3;
	margin-bottom:100px;
	text-align:center;
	padding-bottom:25px;
}
#mainContent {
	width: 60%;
    overflow: hidden;
}

footer {
  color:#ffffff;
  background-color:#a53051;
  text-align:center;
  min-height: 10px;
  padding: 10px;
}

input[type=text], [type=password],[type=date],select {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 20%;
    background-color: #a53051;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	font-weight: bold;
}

input[type=submit]:hover {
    background-color: #a53051;
}

/* th {
	height: 30px;
	text-align:center;
	font-weight:700;
	background:#e0e0e0;
}

td {
	height:100px;
} */

/* td:hover {
	background-color: #d3d3d3;
	cursor: pointer;
} */

.today {
	background:#a53051;
	color: #fff;
}

/* th:nth-of-type(7),td:nth-of-type(7) {
	color:blue;
}
th:nth-of-type(1),td:nth-of-type(1) {
	color:red;
} */






@media (max-width: 580px) {
  .logo {
    position: fixed;
    margin-top: 16px;
  }

  nav ul {
    max-height: 0px;
    background: #000;
  }

  nav.black ul {
    background: #000;
  }

  .showing {
    max-height: 20em;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 24px 0;
    text-align: center;
  }
}
.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }
table{
  border-collapse: collapse;
  width: 80%;
 
}
table, td, th, tr {
 border: 1px solid black;
 padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}
tr:hover {background-color: #ddd;}

th {
 padding-top: 5px;
 padding-bottom: 5px;
 text-align: left;
 background-color: #a53051;
 color: white;
}
tr {
    padding-top: 5px;
    padding-bottom: 5px;
    
}
